/* Style Sheet */

body {
    background-color: cyan;
}

h1, h3 {
    font-family: Helvetica, sans-serif;
    color: navy;
}

h1 {
    font-size: 44px;
}

h3 {
    font-size: 30px;
}

p, li, a:link {
    color: firebrick;
    font-size: 20px;
}

a:hover, a:visited {
    color: darksalmon;
}
